body {
    margin: 0;
    overflow: hidden;
    background: url('./flappybirdbg.png') center/cover no-repeat; /* Replace with the path to your background image */
}

canvas {
    display: block;
}
